/* basic every page layout */
html {
    height: 100%;
}

body {
    height: 100%;
}

.clearfix {
    clear: both;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -40px;
}

#my_name {
    float: left;
    position: absolute;
    background-color: rgb(18, 114, 117);
    color: white;
    height: 56px;
    font-weight: bold;
    font-size: 24px;
    width: 200px;
    text-align: center;
    display: block;
    padding: 15px 10px;
}

.header {
    background-color: lightgrey;
    width: 100%;
}

footer {
    background-color: rgb(80, 76, 76);
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    border-top: 10px solid rgb(18, 114, 117);
    position: absolute;
    color: white;
}

.center_container {
    margin: auto;
    width: 960px;
}

.container {
    margin: auto;
    width: 960px;
}

body {
    margin: 0;
    background-image: url("background_pic.jpg");

}


/* about me settings */

.about_me {
    background-color: lightgrey;
    width: 960px;
    padding: 0px 30px;
    margin: 30px 0px;
    border: 1px solid grey;
}

.profile_pic {
    width: 18%;
    float: left;
    margin: 10px;
}

h1 {
    color: rgb(18, 114, 117);
}


.contact {
    background-color: lightgrey;
    width: 960px;
    padding: 0px 30px;
    margin: 30px 0px;
    border: 1px solid grey;
}


/*  portfolio settings  */

.portfolio {
    background-color: lightgrey;
    width: 960px;
    padding: 0px 30px;
    margin: 30px 0px;
    border: 1px solid grey;    
}

.card {
    position: relative;
    color: white;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 30px;
}

.card-body {
    background-color: rgb(18, 114, 117);
    padding: 13px;
    text-align: center;
}